{% extends 'layout/admin.html.twig' %}

{% block body %}
  
  <div class="row mb-4">
    <div class="col-lg-10 col-9">
      <h1 class="page-name">
        <i class="bi bi-people"></i>
        {{ "Users"|trans }}
      </h1>
    </div>
    <div class="col-lg-2 col-3">
      <div class="float-end">
        <ajax-modal url="{{ path('user.create') }}" class="add-new">
          <button class="btn btn-outline-primary rounded-0 shadow-none">
            <i class="bi bi-plus"></i>
            <span class="d-none d-lg-inline-block">{{ "Add"|trans }}</span>
          </button>
        </ajax-modal>
      </div>
    </div>
  </div>

   {% include "layout/form/search/index.html.twig" with { 
    form: search_form,
    tableId: "users" 
  } %}

  <ajax-table id="users" url="{{ path('users.table') }}">
    {{ table|raw }}
  </ajax-table>

{% endblock %}
