{% extends 'layout/admin.html.twig' %}

{% block body %}

<h6 class="styled-title mb-2 text-white">{{ compaign.subject }}</h6>

<div class="row mt-3">
    <div class="col">
      <div class="card shadow-sm rounded-0 mb-4 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
          <i class="bi bi-megaphone fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Medias"|trans }}</span>
          <span class="fw-bold fs-3">{{ medias_count }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm rounded-0 mb-2 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
          <i class="bi bi-link fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Links"|trans }}</span>
          <span class="fw-bold fs-3">{{ links_count }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm rounded-0 mb-2 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
          <i class="bi bi-people fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Website visitors"|trans }}</span>
          <span class="fw-bold fs-3">{{ visitors_count|number_format }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm rounded-0 mb-2 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
           <i class="bi bi-people fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Followers"|trans }}</span>
          <span class="fw-bold fs-3">{{ folowers_count|number_format }}</span>
        </div>
      </div>
    </div>
    
  </div>

<h6 class="styled-title mb-2 text-white">Followers count per social media</h6>

<div class="row mt-3">
    <div class="col">
      <div class="card shadow-sm rounded-0 mb-4 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
          <i class="bi bi-facebook fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Facebook"|trans }}</span>
          <span class="fw-bold fs-3">{{ facebook_count }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm rounded-0 mb-2 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
          <i class="bi bi-twitter fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Twitter"|trans }}</span>
          <span class="fw-bold fs-3">{{ twitter_count }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm rounded-0 mb-2 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
          <i class="bi bi-instagram fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Instagram"|trans }}</span>
          <span class="fw-bold fs-3">{{ instagram_count|number_format }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm rounded-0 mb-2 mb-sm-2">
        <div class="card-body d-flex flex-column align-items-center p-3">
           <i class="bi bi-youtube fs-1"></i>
          <span class="fs-4 text-uppercase text-center">{{ "Youtube"|trans }}</span>
          <span class="fw-bold fs-3">{{ youtube_count|number_format }}</span>
        </div>
      </div>
    </div>
    
  </div>
   
 <h6 class="styled-title mt-3 text-white">{{ "Countries"|trans }} ({{ countries_count }})</h6> 
 <div class="row mt-3">
    {% for key, country in countries %}
      <div class="col-md-2 mb-3 ">
        <a href="{{ path('link', {'compaign_id':compaign.id, 'country_id':key}) }}">
        <img src="/img/flags/svg/{{country[0]}}.svg" alt="{{country[1]}}" title="{{country[1]}}" /> {{country[1]}}</a>
      </div>
    {% endfor %} 
</div>

<h6 class="styled-title mt-3 text-white">{{ "Languages"|trans }} ({{ languages_count }})</h6>
  <div class="row mt-3">
      {% for key, language in languages %}
        <div class="col-md-2"> <a href="{{ path('link', {'compaign_id':compaign.id, 'language_id':key}) }}">{{ language  }}</a></div>
      {% endfor %}
  </div>



<h6 class="styled-title mt-3 text-white">{{ "Categories"|trans }} ({{categories|length}})</h6>
  <div class="row mb-3">    
      {% for key, category in categories %}
        <div class="col-md-2"> <a href="{{ path('link', {'compaign_id':compaign.id, 'category_id':key}) }}">{{ category[0]  }} ({{ category[1]  }})</a></div>
      {% endfor %}
  </div>


<h6 class="styled-title mt-3 text-white">{{ "Medias"|trans }} ({{medias|length}})</h6>
<div class="row mb-3">
  
  {% for key, media in medias %}
    <div class="col-md-2 d-block justify-content-center align-self-center border">
      <a href="{{ path('link', {'compaign_id':compaign.id, 'media_id':key}) }}">
      {% if media[0] is empty %}
        {{ media[1] }}
      {% else %}
        <img src="{{ asset(media[0]) }}" class="mx-auto img-fluid" alt="{{ media[1] }}" height="60" />
      {% endif %}
      </a>
    </div>
  {% endfor %} 
   
</div>


<h6 class="styled-title mt-3 text-white">{{ "Links"|trans }} ({{links|length}})</h6>
<div class="row mb-3"> 
  <div class="col-md-12"> 
  <table class="table table-hover table-basic mb-3">
    <tr>
      <th>{{ "Link"|trans }}</th>
      <th>{{ "Media"|trans }}</th>
      <th>{{ "Category"|trans }}</th>
      <th>{{ "Scope"|trans }}</th>
      <th>{{ "Published on"|trans }}</th>
    </tr>
  {% for link in links %}
    <tr>
      <td><a target="_blank" href="{{ link.link }}">{{ link.title }}</a></td>
      <td>{{ link.media }}</td>
      <td>{{ link.category }}</td>
      <td>{{ link.geographicalScope }}</td>
      <td>{{ link.publishedOn|date("d/m/Y") }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
</div>

{% endblock %}

{% block footer %}
  {{ parent() }}

  
{% endblock %}
