<table class="table table-hover table-basic mb-0">
  {% if link.media.logo %}
  <tr>
    <td>{{ "Logo"|trans }}</td>
    <td><img src="{{ asset('/uploads/logos/' ~ link.media.logo) }}" class="d-inline-block align-text-top" alt="{{ link.media.logo }}" height="60" /></td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ "Title"|trans }}</td>
    <td><a href="{{ link.link }}" target="_blank">{{ link.title }}</a></td>
  </tr>
  <tr>
    <td>{{ "Compaign"|trans }}</td>
    <td>{{ link.compaign }}</td>
  </tr>
  <tr>
    <td>{{ "Language"|trans }}</td>
    <td>{{ link.language }}</td>
  </tr>
  <tr>
    <td>{{ "Media"|trans }}</td>
    <td>{{ link.media }}</td>
  </tr>
  <tr>
    <td>{{ "Category"|trans }}</td>
    <td>{{ link.category }}</td>
  </tr>
  <tr>
    <td>{{ "Orientation"|trans }}</td>
    <td>{{ link.orientation }}</td>
  </tr>
  <tr>
    <td>{{ "Geographical scope"|trans }}</td>
    <td>{{ link.geographicalScope }}</td>
  </tr>
  <tr>
    <td>{{ "Published on"|trans }}</td>
    <td>{% if link.publishedOn is not empty %}{{ link.publishedOn|date("m/d/Y") }} {% endif %}</td>
  </tr>
  {% if link.fileName %}
  <tr>
    <td>{{ "File"|trans }}</td>
    <td><a href="{{ link.getAttachment() }}" target="_blank" />Download Attachment</td>
  </tr>
  {% else %}
  <tr>
    <td>{{ "File"|trans }}</td>
    <td>No Attachment</td>
  </tr>    
  {% endif %}
</table>
